.question_list {
    width: 100%;
    border: 1px solid #e0e0e0;

    th {
        padding-left: 30px;
        padding-right: 30px;
        border: 1px solid #e0e0e0;
    }

    td {
        border: 1px solid #e0e0e0;
        text-align: center;
    }
}